@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$default-value: 8px;

@function multiply-value($unit) {
  @return $default-value * $unit
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

body, html {
  height: 100%;
}

.cstm-container {
  width: 100%;
  height: 100%;
}

.cstm-flex-column-justify-align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cstm-flex-column {
  display: flex;
  flex-direction: column;
}

.cstm-align-items-center {
  align-items: center;
}

.cstm-fullwidth {
  width: 100%
}

.cstm-category-title {
  margin-bottom: multiply-value(6);
  .cstm-text-center {
    text-align: center;
  }
}

.cstm-textfield-margin {
  margin: multiply-value(1) 0px;
}

.cstm-text-center {
  text-align: center;
}

.cstm-gutterbottom {
  margin-bottom: multiply-value(3);
}

.cstm-pitch-category-image{
  background: url('../images/folder_pen.png');
  width: 70px;
  height: 70px;
  background-size: cover;
}

.cstm-default-link-look {
  text-decoration: none;
  color: black;
}

.cstm-category{
  padding: multiply-value(1);
  & > a {
    display: flex;
    padding: multiply-value(1);
    & > div > div {
      display: flex;
      width: 100%;
      & > div {
        margin: multiply-value(1)
      }
    }
  }
}

.cstm-add-pitch {
  margin-top: multiply-value(9);
}

.cstm-pitches-container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > div {
    text-align: center;
  }
  i {
    font-size: 40px;
  }
  & > .cstm-pitches-container-title--content {
    margin-top: 18%;
  }
  a > div {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    & > div {
      margin: multiply-value(0.5)
    }
  }
}

.cstm-register-container-content {
  form {
    padding: 0px multiply-value(1);
  }
  h2 {
    margin-top: 8%;
    margin-bottom: multiply-value(2);
  }
  p {
    margin-bottom: multiply-value(3);
  }
  .cstm-login-register-redirect {
    margin-bottom: 0;
    margin-top: multiply-value(2);
  }
}

.cstm-form-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  input {
    margin: multiply-value(1) 0px multiply-value(1) multiply-value(1)
  }
}
