@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$default-value: 8px;

@function multiply-value($unit) {
  @return $default-value * $unit
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: aliceblue;
}

body, html {
  height: 100%;
}

.cstm-container {
  width: 100%;
  height: 100%;
}

.cstm-pitch-div {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: multiply-value(2);
  & > div {
    margin: multiply-value(1);
    padding: multiply-value(1);
    width: 100%;
  }
  form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    input {
      margin: 0 multiply-value(0.5);
    }
    input[type=submit]{
      // height: 100%;
      margin-left: multiply-value(1);
    }
  }
}

.cstm-flex-column-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cstm-flex-column-justify-align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cstm-flex-column {
  display: flex;
  flex-direction: column;
}

.cstm-align-items-center {
  align-items: center;
}

.cstm-fullwidth {
  width: 100%
}

.cstm-category-title {
  margin-bottom: multiply-value(6);
  .cstm-text-center {
    text-align: center;
  }
}

.cstm-textfield-margin {
  margin: multiply-value(1) 0px;
}

.cstm-text-center {
  text-align: center;
}

.cstm-gutterbottom-3 {
  margin-bottom: multiply-value(3);
}

.cstm-gutterbottom-2 {
  margin-bottom: multiply-value(2);
}

.cstm-gutterbottom-1 {
  margin-bottom: multiply-value(1);
}

.cstm-gutterbottom-0-5 {
  margin-bottom: multiply-value(0.5);
}

.cstm-pitch-category-image{
  background: url('../images/folder_pen.png');
  width: 70px;
  height: 70px;
  background-size: cover;
}

.cstm-default-link-look {
  text-decoration: none;
  color: black;
}

.cstm-category, .cstm-pitch{
  padding: multiply-value(1);
  & > a {
    display: flex;
    padding: multiply-value(1);
    & > div > div {
      display: flex;
      width: 100%;
      & > div {
        margin: multiply-value(1)
      }
    }
  }
}

.cstm-add-pitch {
  margin-top: multiply-value(9);
}

.cstm-pitches-container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > div {
    text-align: center;
  }
  i {
    font-size: 40px;
  }
  & > .cstm-pitches-container-title--content {
    margin-top: 18%;
  }
  & > .cstm-pitches-container-title--content-present {
    margin-top: multiply-value(2);
  }
  a > div {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    & > div {
      margin: multiply-value(0.5)
    }
  }
}

.cstm-general-container-content {
  form {
    padding: 0px multiply-value(1);
  }
  h2 {
    margin-top: 8%;
    margin-bottom: multiply-value(2);
  }
  p {
    margin-bottom: multiply-value(3);
  }
  .cstm-login-register-redirect {
    margin-bottom: 0;
    margin-top: multiply-value(2);
  }
  .cstm-login-h2 {
    margin-top: 23%;
  }
}

.cstm-form-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  input {
    margin: multiply-value(1) 0px multiply-value(1) multiply-value(1)
  }
}

.cstm-text-area {
  height: 130px !important;
}

.pitch-form {
  width: 94%;
  margin: auto;
}

.cstm-pitch {
  & > div > .cstm-body {
    padding-top: 1rem;
  }
}

.cstm-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cstm-fab {
  position: fixed !important;
  bottom: 16px !important;
  right: 5px !important;
}

.cstm-divider {
  width: 100%;
  height: 1px;
  background: #d3d3d3;
  margin: 6px 0px;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background: #bcbcbc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2f2f2f;
}

.avatar-big {
  height: 64px;
  width: 64px;
  border-radius: 50px;
  background: #bcbcbc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2f2f2f;
  & > i {
    font-size: 36px;
  }
}

.cstm-comments-user-info {
  display: flex;
  align-items: center;
  & > div > h6 {
    margin-left: multiply-value(1);
  }
}

.cstm-comments-content {
  & > p {
    margin: 8px 0px 8px 48px;
  }
}

.cstm-margin {
  margin: multiply-value(1.5) 0px;
}

.cstm-padding {
  padding: multiply-value(1)
}

.cstm-user-info {
  & > * {
    margin: multiply-value(1) 0px multiply-value(1) 0px;
  }
}

.cstm-height-100 {
  height: 100%
}

.cstm-action-icon {
  display: flex !important;
  margin-right: 8px;
  span {
    margin-left: 6px;
    font-size: 16px;
  }
}
